.card-materia {
    display: flex;
    justify-content: space-between;
    min-width: 19vw;
    border-radius: 20px;
    border: solid 2px var(--azul);
    box-sizing: border-box;
    padding: 40px;
    margin: 0%;
}

.card-materia div h3 {
    font-size: 24px;
    margin: 0%;
}

.card-materia:hover {
    background-color: var(--cielo);
    color: var(--azul);
    transition: 0.3s;
}