<section class="armar-horario-container">
    <div class="materias-seleccionador">
        <app-card-complete *ngFor="let curso of cursos" [materia]="curso.materia" 
            [profr]="curso.profr.nombre + ' ' + curso.profr.apellido"
            [(materiaSelected)]="matselected"
            [isSelected] = "curso.materia === matselected"
        ></app-card-complete>
    </div>
    <app-pantilla-dias-horario></app-pantilla-dias-horario>
    <button class="generar-horario-btn" (click)="generate()">Generar</button>
</section>