.container-form {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    backdrop-filter: brightness(0.8);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 60vw;
    box-sizing: border-box;
    padding: 50px;
    background-color: var(--blanco);
    box-shadow: 0px 2px 10px var(--azul);
    border-radius: 20px;
}

.form label {
    width: 100%;
    margin: 10px 0%;
}

.header-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form h1 {
    width: 100%;
    text-align: center;
    letter-spacing: 0.8px;
}

.close-btn {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 32px;
    font-weight: 600;
    background: none;
    border: none;
    color: var(--azul);
    transition: 0.2s;
}
.close-btn:hover {
    filter: brightness(0.8);
    transition: 0.2s;
}