.plantilla-dias {
    width: 70vw;
    height: 80vh;
}
.plantilla-dias td:not(.celda-hora),
.plantilla-dias th:not(.celda-hora) {
    width: 12.4vw;
    border: 1px solid var(--azul);
    border-collapse: separate;
    border-radius: 5px;
}
.dia {
    background-color: var(--azul);
    color: var(--blanco);
}
.celda-hora {
    height: 100%;
    width: 8vw;
    box-sizing: border-box;
    font-weight: bold;
    display:  grid;
    place-items: center;
    border: 1px solid var(--azul);
    border-collapse: separate;
    border-radius: 5px;
}