.vista-grupos {
    position: relative;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.btn-add-grupo {
    width: 17vw;
    height: 10vw;
    border: solid 3px var(--azul);
    border-radius: 20px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    font-size: 48px;
    color: var(--blanco);
    background-color: var(--celeste);
    transition: 0.2s;
}
.btn-add-grupo:hover {
    filter: brightness(0.8);
    transition: 0.2s;
}