<div class="container-form">
    <form class="form" action="">
        <div class="header-form">
            <h1>Agregar profesor</h1>
            <button class="close-btn" (click)="changeVisibility()">x</button>
        </div>
        <label for="">Nombre</label>
        <input id="nombre" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="prof.nombre" /> 
        <label for="">Apellido(s)</label>
        <input id="codigo" type="text" placeholder="Apellido" name="codigo" [(ngModel)]="prof.apellido" /> 
        <label for="">Telefono</label>
        <input id="grado" type="text" placeholder="Grado" class="numero" name="telefono" [(ngModel)]="prof.telefono" />
        <select name="especialidad" [value]="prof.especialidad" id="especialidad" [(ngModel)]="prof.especialidad">
            <option *ngFor="let espe of especialidades" value={{espe}} > {{espe}} </option>
        </select>
        <label for="">Titulo</label>
        <input id="numCreditos" type="text" placeholder="Titulo" name="titulo" [(ngModel)]="prof.titulo" />
        <button type="button" (click)="clickButton()">Agregar</button>
    </form>
</div>