<form class="form"  *ngIf="isOpen" action="">
    <input id="nombre" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="materi.nombre" /> 
    <input id="codigo" type="text" placeholder="Codigo" name="codigo" [(ngModel)]="materi.codigo" /> 
    <select name="estado" id="estado" [(ngModel)]="materi.estado">
        <option value="1">Activa</option>
        <option value="0">Inactiva</option>
    </select>
    <div>
        <input id="grado" type="text" placeholder="Grado" class="numero" [(ngModel)]="materi.grado" />
        <input id="numCreditos" type="text" placeholder="Numero de creditos" [(ngModel)]="materi.numCreditos" />
        <input id="Horas" type="text"  placeholder="Horas por semana" [(ngModel)]="materi.horasPorSemana" />
    </div>

    <button type="button" (click)="addMateria()">Agregar</button>
</form>