.selector-materias {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19vw, 1fr));
    gap: 2vw;
    width: 100vw;
    box-sizing: border-box;
    padding: 40px;
    margin: 0;
    justify-content: space-between;
}

.selector-materias > *:nth-last-child(-n + 3) {
    justify-self: start;
}
